@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* *{margin: 0px; padding: 0px; box-sizing: border-box;} */

.container {
  width: 90%;
  margin: auto;
}

/* header .top-strip{} */

.bg-primary{
   background: #ff5252 !important;
}

.link:hover{
  color:#ff5252;
}

.MuiBadge-badge { background: #ff5252}