@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #F5F0F0;
  color : rgba(0,0,0,0.7);
  overflow-x: hidden;
}

/* *{margin: 0px; padding: 0px; box-sizing: border-box;} */

.container {
  width: 95%;
  margin: auto;
}

/* header .top-strip{} */

.bg-primary{
   background: #ff5252 !important;
}

.link:hover{
  color:#ff5252;
}

.MuiBadge-badge { background: #ff5252}

nav ul button{text-transform: capitalize !important; color: rgba(0,0,0,0.7) !important;}

.categoryPanel button{
  text-transform: capitalize !important;
}

.nav li:hover .submenu{ opacity: 1 !important; visibility: inherit; top: 100%; z-index: 2;}
.nav li .submenu{ visibility: hidden; }

.sliderHome {overflow: inherit !important;}